/*------------------------------------------
Navbar
------------------------------------------*/

header {
	background: rgba(25, 25, 25, 0.7);
	z-index: 999;
	position: fixed;
	top: 0;
	width: 100%;
}

.nav {
	/* background: var(--midnight); */
	/* position: fixed; */
	width: 100%;
	top: 0px;
	padding: 0 2rem;
	height: 0rem;
	min-height: 8vh;
	overflow: hidden;
	transition: height 0.5s ease-in-out;
}

.nav-menu {
	justify-content: space-around;
}

.toggle-collapse {
	position: absolute;
	top: 0;
	width: 90%;
	cursor: pointer;
	display: none;
}

.toggle-collapse .toggle-icons {
	display: flex;
	justify-content: flex-end;
	padding: 1.7rem 0;
}

.toggle-icons i {
	font-size: 1.4rem;
	color: var(--white);
}

.nav-items {
	display: flex;
	top: 0;
	margin: 0;
}

.nav-items-fixed {
	position: fixed;
}

.nav-link {
	padding: 1.6rem 1rem;
	font-size: 1.1rem;
	position: relative;
	position: relative;
	font-family: var(--abel);
	transition: all 0.2s ease-in;
	border: none;
	outline: none;
}

.nav-link:hover {
	background: var(--sky);
	border-bottom-left-radius: 100%;
	border-bottom-right-radius: 100%;
}

.nav-link:hover a {
	font-weight: bold;
	font-size: 1.1rem;
	color: var(--midnight);
}

.nav-brand a {
	font-size: 1.6rem;
	padding: 1rem 0;
	display: block;
	font-family: var(--livvic);
}

.social {
	padding: 1.4rem 0;
}

.social i {
	padding: 0 0.2rem;
}

.social i:hover {
	color: #a1c4cf;
}
